#about_us {
  margin-top: 150px;
  margin-left: 100px;
  margin-right: 100px;
}
p,
h1,
h2 {
  font-family: "roboto", sans-serif;
}
.about_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.about_us_text {
  width: 50%;
  text-align: start;
}
.about_us_text h1 {
  font-size: 90px;
  font-family: inter;
  font-weight: 600;
  margin: 0px;
  padding-left: 0px;
}
.about_us_text p {
  font-size: 35px;
  /* font-weight: 500; */
  line-height: 60px;
  letter-spacing: 0.02em;
  text-align: left;
  width: 800px;
}
.about_us_img {
  /* margin-left: 20px; */
  margin-right: 70px;
  width: 45%;
  height: 700px;
  background-image: url(src/assets/daystar_logo.jpeg);
  background-position: center;
  background-size: cover;
  border-radius: 50px;
  border: 1px solid black;
}
#about_content_phone_view {
  display: none;
}

@media screen and (max-width: 1200px) {
  .about_content {
    justify-content: start;
    margin-left: 50px;
    display: none;
  }
  .about_us_img {
    display: none;
  }
  #about_us {
    margin-top: 10px;
    /* background-position: center;*/
    background-size: cover;
    /* color: white; */
    background: blur(10px);
    margin: 0px;
    /* border-image: fill 0 linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)); */
  }
  .about_us_text p {
    font-size: 18px;
    width: 350px;
  }
  .about_content_phone_view img {
    width: 99%;
    margin-left: auto;
    margin-right: auto;
  }
  .about_content_phone_view {
    background-color: white;
  }
  #about_content_phone_view {
    display: block;
  }
  #about_us h1 {
    background-color: white;
  }
  #about_content_phone_view h1 {
    margin: 0px;
  }
  #about_content_phone_view hr {
    margin-bottom: 10px;
  }
}
