
p,
h1,
h2 {
  font-family: "roboto", sans-serif;
}
#Achievements h1 {
  font-size: 50px;
  font-weight: 600;
  /* line-height: 89.56px; */
  text-align: left;
  margin: 0px;
  color: rgba(28, 57, 123, 0.66);
}
.Achievements_hr {
  border: 2px solid rgba(29, 49, 94, 0.66);
}
.Achievements_content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
.Achievements_content img {
  border-radius: 70px;
}
.Achievements_content h2 {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  line-height: 58.09px;
  color: rgba(28, 57, 123, 0.66);
}
.Achievements_content div {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 20px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 20px 4px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
.Acheivements_Project {
  background: rgba(244, 234, 252, 1);
}
.Acheivements_Hackathon {
  background: rgba(252, 237, 234, 1);
}
.Acheivements_Award {
  background: rgba(255, 230, 176, 1);
}
.Achievements_content a {
  text-decoration: none;
}

.Achievements_content div:hover {
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
  transform: scale(0.9);
}
@media screen and (max-width: 1200px) {
  #Achievements h1 {
    font-size: 40px;
    margin: 0px;
    text-align: center;
  }
  #Achievements {
    margin: 0px;
    margin-top: -20px;
  }
  .Achievements_hackathon_img {
    height: 200px;
  }
  .Achievements_content div {
    margin-top: 20px;
    width: 200px;
    margin-right: 30px;
  }
  .Achievements_content div h2 {
    font-size: 30px;
    margin: 0px;
  }
  .Achievements_content div img {
    width: 200px;
  }
  .Achievements_content div img:nth-child(2) {
    height: 200px;
  }
  .Achievements_hr {
    margin: 0px;
    margin-top: -20px;
    margin-left: 5%;
  }
  .Achievements_content {
    margin-top: 0px;
  }
}
