#Events {
  display: flex;
  justify-content: space-between;
  /* margin-right: 6%; */
  flex-wrap: wrap;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
p,
h1,
h2 {
  font-family: "roboto", sans-serif;
}
.Events_display {
  width: 50%;
  height: 700px;
  overflow-y: auto;
  white-space: nowrap;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
}
::-webkit-scrollbar
{
  display: none;
}
.Events_display h1 {
  text-align: start;
  width: 88%;
  margin-left: 70px;
  font-size: 35px;
}
.event_title {
  width: 100%;
  text-align: start;
}
.Events_calender {
  width: 40%;
  height: 500px;
}
.Event__page_title {
  text-align: start;
  font-size: 50px;
  width: 88%;
  margin: 0px;
  color: rgba(28, 57, 123, 0.66);
  text-align: start;
}

.Event__page_title {
  padding-left: 6%;
  padding-right: 6%;
}

.event {
  width: 88%;
  margin-left: 6%;
  margin-right: 6%;
  margin-top: 20px;
  cursor: pointer;
}
.events_date {
  margin-left: 50px;
  border-right: 1px solid black;
  width: 120px;
  padding-right: 20px;
  padding-top: 20px;
}
.events_date h2 {
  font-size: 35px;
  text-align: center;
}
.events_details {
  width: 420px;
  padding-right: 20px;
  padding-top: -40px;
  text-wrap: wrap;
}
.events_details h2 {
  width: 100%;
  margin-left: 250px;
  margin-top: -150px;
  font-size: 30px;
}
.events_details div {
  width: 350px;
  margin-left: 250px;
  font-size: 15px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 90%;
}
.events_details a {
  width: 100px;
  margin-left: 250px;
  font-size: 20px;
  text-decoration: none;
  color: rgba(28, 57, 123, 0.66);
}
hr {
  border-width: 5px;
  border: 2px solid rgba(29, 49, 94, 0.66);
  width: 88%;
}

.events_btn {
  font-size: 20px;
  margin-left: 6%;
  margin-right: 6%;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.8s ease;
}

.events_btn:hover {
  background-color: black;
  color: white;
}

.events_hr {
  border: none; /* Remove default horizontal border */
  border-left: 1px solid rgba(0, 0, 0, 1); /* Create a vertical border */
  height: 50px; /* Adjust height as needed */
  width: 1px; /* Keep it thin */
}



@media screen and (max-width: 1200px) {
  #Events {
    margin: 0px;
    /* height: 500px; */
  }
  .Events_calender,
  .Events_display {
    width: 100%;
  }
  .Events_display {
    display: flex;
    overflow-x: auto;
    height: 79vh;
    flex-wrap: wrap;
    scroll-snap-type: x mandatory;
    scroll-padding: 0 24px;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    align-items: self-start;
  }
  .Events_calender {
    display: none;
  }

  .lottie
  {
    max-width: 200px;
  }
  .event {
    width: 300px;
    height: 150px;
    margin: 10px;
  }
  .event div {
    width: 50px;
  }
  .event h2 {
    font-size: 20px;
  }

  .Event__page_title {
    margin: 0px;
    font-size: 33px;
  }
  .Events_display h1 {
    font-size: 30px;
    margin: 0px;
  }
  .events_date {
    margin: 0px;
    padding-right: 35px;
  }
  .events_date h2 {
    font-size: 16px;
    text-align: center;
  }

  .events_details {
    border: none;
    margin-left: 100px;
  }
  .events_details h2 {
    margin: 0px;
    margin-top: -70px;
    width: 200px;
  }
  .events_details div {
    margin: 0px;
    font-size: 13px;
    min-width: 200px;
  }
  .events_details a {
    margin: 0px;
    font-size: 13px;
  }
  #Events {
    padding: 0px;
    margin: 0px;
    margin-top: -30px;
  }
  .event_title {
    margin: 0px;
    font-size: 30px;
  }
}
