/* html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden; 
} */
.technical_writing_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 88%;
  margin-left: auto;
  margin-right: auto;
}
p,
h1,
h2,
a {
  font-family: "roboto", sans-serif;
}

.technical_writing_content button {
  margin-top: 50px;
  font-size: 20px;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  height: 50px;
  cursor: pointer;
}

.writing_hr {
  width: 97%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.technical {
  width: 43%;
  min-width: 350px;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: start;
  padding: 50px;
  padding-bottom: 0px;
  padding-right: 0px;
  background-size: cover;
}
.technical img {
  width: 150px;
  height: 150px;
  border: 1px solid black;
  border-radius: 50%;
}
.technical h2 {
  text-align: center;
  font-size: 24px;
  margin: 5px;
  margin-top: 20px;
  color: white;
}
.topic {
  font-size: 15px;
  /* color: yellow; */
}
.technical p {
  font-size: 16px;
  margin: 5px;
  color: white;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 90%;
}
.technical button {
  margin-top: 20px;
  background: rgba(28, 57, 123);
  color: white;
  font-size: 15px;
  border: none;
  border-radius: 0px;
  cursor: pointer;
}
.button_div {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: end;
}
@media screen and (max-width: 1200px) {
  #technical_writing {
    margin-top: 0px;
  }
  .Event__page_title {
    margin-top: 20px;
  }
  .technical_writing_content {
    margin-left: -12px;
  }
  .technical img {
    width: 100px;
    height: 100px;
  }
  .technical h2 {
    font-size: 20px;
    margin: 5px;
    text-align: start;
  }
  .technical p {
    font-size: 14px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 90%;
  }
  .technical button {
    font-size: 10px;
    padding: 2px;
  }
}
